<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Emerald Inn</string>
		<key>location</key>
		<string>Tularean Forest</string>
		<key>tower</key>
		<integer>20</integer>
		<key>wall</key>
		<integer>5</integer>
		<key>bricks</key>
		<integer>5</integer>
		<key>gems</key>
		<integer>5</integer>
		<key>recruits</key>
		<integer>5</integer>
		<key>quarries</key>
		<integer>2</integer>
		<key>magics</key>
		<integer>2</integer>
		<key>dungeons</key>
		<integer>2</integer>
		<key>cardsInHand</key>
		<integer>5</integer>
		<key>winningTower</key>
		<integer>50</integer>
		<key>winningResource</key>
		<integer>150</integer>
		<key>price</key>
		<integer>1200</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Griffin&apos;s rest</string>
		<key>location</key>
		<string>Erathia</string>
		<key>tower</key>
		<integer>20</integer>
		<key>wall</key>
		<integer>5</integer>
		<key>bricks</key>
		<integer>5</integer>
		<key>gems</key>
		<integer>5</integer>
		<key>recruits</key>
		<integer>5</integer>
		<key>quarries</key>
		<integer>2</integer>
		<key>magics</key>
		<integer>2</integer>
		<key>dungeons</key>
		<integer>2</integer>
		<key>cardsInHand</key>
		<integer>5</integer>
		<key>winningTower</key>
		<integer>50</integer>
		<key>winningResource</key>
		<integer>100</integer>
		<key>price</key>
		<integer>1200</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>On the House</string>
		<key>location</key>
		<string>Harmondale</string>
		<key>tower</key>
		<integer>15</integer>
		<key>wall</key>
		<integer>5</integer>
		<key>bricks</key>
		<integer>10</integer>
		<key>gems</key>
		<integer>10</integer>
		<key>recruits</key>
		<integer>10</integer>
		<key>quarries</key>
		<integer>2</integer>
		<key>magics</key>
		<integer>2</integer>
		<key>dungeons</key>
		<integer>2</integer>
		<key>cardsInHand</key>
		<integer>5</integer>
		<key>winningTower</key>
		<integer>30</integer>
		<key>winningResource</key>
		<integer>100</integer>
		<key>price</key>
		<integer>600</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>The Potted Pixie</string>
		<key>location</key>
		<string>Avlee</string>
		<key>tower</key>
		<integer>10</integer>
		<key>wall</key>
		<integer>20</integer>
		<key>bricks</key>
		<integer>15</integer>
		<key>gems</key>
		<integer>5</integer>
		<key>recruits</key>
		<integer>10</integer>
		<key>quarries</key>
		<integer>3</integer>
		<key>magics</key>
		<integer>1</integer>
		<key>dungeons</key>
		<integer>2</integer>
		<key>cardsInHand</key>
		<integer>5</integer>
		<key>winningTower</key>
		<integer>125</integer>
		<key>winningResource</key>
		<integer>350</integer>
		<key>price</key>
		<integer>2000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>The Snobbish Goblin</string>
		<key>location</key>
		<string>Deyja</string>
		<key>tower</key>
		<integer>25</integer>
		<key>wall</key>
		<integer>10</integer>
		<key>bricks</key>
		<integer>5</integer>
		<key>gems</key>
		<integer>5</integer>
		<key>recruits</key>
		<integer>5</integer>
		<key>quarries</key>
		<integer>3</integer>
		<key>magics</key>
		<integer>3</integer>
		<key>dungeons</key>
		<integer>3</integer>
		<key>cardsInHand</key>
		<integer>5</integer>
		<key>winningTower</key>
		<integer>75</integer>
		<key>winningResource</key>
		<integer>200</integer>
		<key>price</key>
		<integer>1400</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>The Loyal Mercenary</string>
		<key>location</key>
		<string>Tatalia</string>
		<key>tower</key>
		<integer>10</integer>
		<key>wall</key>
		<integer>20</integer>
		<key>bricks</key>
		<integer>15</integer>
		<key>gems</key>
		<integer>5</integer>
		<key>recruits</key>
		<integer>10</integer>
		<key>quarries</key>
		<integer>3</integer>
		<key>magics</key>
		<integer>1</integer>
		<key>dungeons</key>
		<integer>2</integer>
		<key>cardsInHand</key>
		<integer>5</integer>
		<key>winningTower</key>
		<integer>125</integer>
		<key>winningResource</key>
		<integer>350</integer>
		<key>price</key>
		<integer>2000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Familiar Place</string>
		<key>location</key>
		<string>Bracada Desert</string>
		<key>tower</key>
		<integer>20</integer>
		<key>wall</key>
		<integer>10</integer>
		<key>bricks</key>
		<integer>5</integer>
		<key>gems</key>
		<integer>5</integer>
		<key>recruits</key>
		<integer>5</integer>
		<key>quarries</key>
		<integer>3</integer>
		<key>magics</key>
		<integer>3</integer>
		<key>dungeons</key>
		<integer>3</integer>
		<key>cardsInHand</key>
		<integer>5</integer>
		<key>winningTower</key>
		<integer>75</integer>
		<key>winningResource</key>
		<integer>200</integer>
		<key>price</key>
		<integer>1400</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Miner&apos;s Only</string>
		<key>location</key>
		<string>Barrow Downs</string>
		<key>tower</key>
		<integer>20</integer>
		<key>wall</key>
		<integer>50</integer>
		<key>bricks</key>
		<integer>5</integer>
		<key>gems</key>
		<integer>5</integer>
		<key>recruits</key>
		<integer>25</integer>
		<key>quarries</key>
		<integer>1</integer>
		<key>magics</key>
		<integer>1</integer>
		<key>dungeons</key>
		<integer>5</integer>
		<key>cardsInHand</key>
		<integer>5</integer>
		<key>winningTower</key>
		<integer>100</integer>
		<key>winningResource</key>
		<integer>300</integer>
		<key>price</key>
		<integer>1800</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Grogg&apos;s Grog</string>
		<key>location</key>
		<string>Stone City</string>
		<key>tower</key>
		<integer>50</integer>
		<key>wall</key>
		<integer>50</integer>
		<key>bricks</key>
		<integer>20</integer>
		<key>gems</key>
		<integer>10</integer>
		<key>recruits</key>
		<integer>20</integer>
		<key>quarries</key>
		<integer>5</integer>
		<key>magics</key>
		<integer>3</integer>
		<key>dungeons</key>
		<integer>5</integer>
		<key>cardsInHand</key>
		<integer>5</integer>
		<key>winningTower</key>
		<integer>100</integer>
		<key>winningResource</key>
		<integer>300</integer>
		<key>price</key>
		<integer>2000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>The Laughing Monk</string>
		<key>location</key>
		<string>Evenmorn Islands</string>
		<key>tower</key>
		<integer>20</integer>
		<key>wall</key>
		<integer>10</integer>
		<key>bricks</key>
		<integer>25</integer>
		<key>gems</key>
		<integer>25</integer>
		<key>recruits</key>
		<integer>25</integer>
		<key>quarries</key>
		<integer>5</integer>
		<key>magics</key>
		<integer>5</integer>
		<key>dungeons</key>
		<integer>5</integer>
		<key>cardsInHand</key>
		<integer>5</integer>
		<key>winningTower</key>
		<integer>150</integer>
		<key>winningResource</key>
		<integer>400</integer>
		<key>price</key>
		<integer>600</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>The Blessed Brew</string>
		<key>location</key>
		<string>Celeste</string>
		<key>tower</key>
		<integer>30</integer>
		<key>wall</key>
		<integer>15</integer>
		<key>bricks</key>
		<integer>10</integer>
		<key>gems</key>
		<integer>10</integer>
		<key>recruits</key>
		<integer>10</integer>
		<key>quarries</key>
		<integer>4</integer>
		<key>magics</key>
		<integer>4</integer>
		<key>dungeons</key>
		<integer>4</integer>
		<key>cardsInHand</key>
		<integer>5</integer>
		<key>winningTower</key>
		<integer>100</integer>
		<key>winningResource</key>
		<integer>300</integer>
		<key>price</key>
		<integer>3000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Fortune&apos;s Folly</string>
		<key>location</key>
		<string>Nighon</string>
		<key>tower</key>
		<integer>20</integer>
		<key>wall</key>
		<integer>10</integer>
		<key>bricks</key>
		<integer>15</integer>
		<key>gems</key>
		<integer>15</integer>
		<key>recruits</key>
		<integer>15</integer>
		<key>quarries</key>
		<integer>1</integer>
		<key>magics</key>
		<integer>1</integer>
		<key>dungeons</key>
		<integer>1</integer>
		<key>cardsInHand</key>
		<integer>5</integer>
		<key>winningTower</key>
		<integer>200</integer>
		<key>winningResource</key>
		<integer>500</integer>
		<key>price</key>
		<integer>6000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>The Vampyre Lounge</string>
		<key>location</key>
		<string>The Pit</string>
		<key>tower</key>
		<integer>30</integer>
		<key>wall</key>
		<integer>15</integer>
		<key>bricks</key>
		<integer>10</integer>
		<key>gems</key>
		<integer>10</integer>
		<key>recruits</key>
		<integer>10</integer>
		<key>quarries</key>
		<integer>4</integer>
		<key>magics</key>
		<integer>4</integer>
		<key>dungeons</key>
		<integer>4</integer>
		<key>cardsInHand</key>
		<integer>5</integer>
		<key>winningTower</key>
		<integer>100</integer>
		<key>winningResource</key>
		<integer>300</integer>
		<key>price</key>
		<integer>3000</integer>
	</dict>
</array>
</plist>
